@import "../../theme/variables.scss";

.home {
  // Show main UI elements as row
  display: flex;
  align-items: center;
}

.songSelector {
  background: lighten(purple, 40%);
}

.mainView {
  background: lighten(green, 40%);
}