@import "../../theme/variables.scss";

.home {
}

.container {
  // Show main UI elements as column
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// Layout of child elements:

.songSelector {
}

.playerControls {
}