@import '../../theme/variables';

body {
  color: main-font-color;
  background: $background;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 96px 0 102px 0; 
}
.appContent {
  /* text-align: left; */
  width: $app-width;
}
